
/$('#signin-modal').modal('hide');

//////////Makes Javascript fade in for messages
//Note that flash-messages is a helper method
//Not needed here, but can be used to render:  $('#flash-messages').html("");
$('#flash-messages').html("#{j flash_messages}");
$('#flash-messages').hide();
$('#flash-messages').fadeIn(2000);

//4000 ms wait before executing 1500ms fadeout
setTimeout(function(){ $("#flash-messages").fadeOut(1500) }, 4000);

$('#user-info').html("#{j render '/layouts/user_info'}");