.modal-dialog
  .modal-content
    .modal-header
      %h3= @campaign.title
    .modal-body
      %p
        Details: #{@campaign.details}
        %br
        Target: $#{@campaign.target}
        %br
        Campaign Finishes: #{@campaign.end_date}

    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close